/cmake-build-debug
/cmake-build-debug-cygwin
/cmake-build-debug-mingw
/cmake-build-debug-manual
/bin
*.txt
/.idea
/build
/CMakeFiles
*.cbp
*.exe
Makefile
*.cmake
.vscode/
/ext/Catch2
/ext/gtest
/ext/sfml
*.bat